
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<section class="client-reviews">
    <div class="reviews">
        <h3>Client Reviews</h3>
        <img src="/e-ticaretwebsite/image/56_11.webp" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sunt odit aliquid maiores eum similique cum tempora reiciendis,
            delectus sed in voluptas libero nobis dolores rem impedit iusto officia
            obcaecati quisquam?
        </p>

        <h2>Mark Jevenue</h2>
        <p></p>
    </div>
</section>

@* <section class="Update-news">
    <div class="up-center-text">
        <h2>New Update</h2>
    </div>

    <div class="update-cart">
        <div class="cart">
            <img src="/e-ticaretwebsite/image/56_11_1.1.webp" alt="">
            <h5>26 jan 2022</h5>
            <h4>Lets Start bring saleon this summer vacation</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Qui fugiat molestias magnam ipsum sunt, maxime eos rerum temporibus
                doloremque modi repudiandae magni beatae veniam ea quae earum illo
                velit placeat!
            </p>

            <h6>Contiune Reading</h6>
        </div>
    </div>
</section> *@